{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product List </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Product List And Filter</h1>
 
</div>






<div class="container">

    <form method='get' action= {% url 'product:filter' %}>


      <div class="form-row">
            <div class="col"> 

                <label for="title">Product Title:</label><br>
                <input type="text" id="title" name="title"><br>
            
            </div>


            <div class="col"> 


                  
                   

                <label for="variant">Variant: </label><br>
                <select name="variant" id="variant">


                  {% for i in variant %}
              
                    <optgroup label="{{ i.title }}">
              
                      {% for variant in variant_data  %}
              
                              <option name= 'variant' value="{{ variant.variant_title }} "> {{ variant.variant_title }} </option>
                     
                      
                      {% endfor %}
                     
                    </optgroup>
              
                  {% endfor %}
              
               
                
              
                </select>
              
            </div>

            


            <div class="col">
                <label for="price_start">Price Range : From</label><br>

                <input type="text" id="price_start" name="price_start" placeholder='from'>
              
            </div>

           
           
            <div class="col">

                <label for="price_finish">To</label><br>

                <input type="text" id="price_finish" name="price_finish"placeholder='to'>
              
            </div>

            <div class="col">

               
              
                <label for="date">Enter a date :</label>
                <input type="date" id="date" name="date">


            </div>
        
            <button type="submit" value="Submit">Search</button>

              
              
        
            
        
    
        
        </div>
    
    
    </form>



</div>



<hr> <hr> 
  
<div class="container">
    <div class="row">


        <div class="col">
            
          <p> #  </p>
         
        </div>
    
    
        <div class="col">
          <h3>  Title </h3>
          
        </div>
    
    
        <div class="col">
          <h3> Description </h3>        
        
        </div>
    
        <div class="col">
            <h3>Variant </h3>        
          
        </div>
    
        <div class="col">
            <h3> </h3>        
          
        </div>

        <div class="col">
            <h3> </h3>        
          
        </div>
    
        <div class="col">
            <h3>Action</h3>        
          
        </div>
    </div>
<hr> <hr>

    {% for p in page_obj %}

  <div class="row">


    <div class="col">

      <p> {{ p.pk }} </p>
     
    </div>


    <div class="col">
      
        <p> {{ p.title }} </p>

        <p> {{p.created_at}} </p>
      
    </div>


    <div class="col">
      <p> {{ p.description }}      </p>
    
    </div>
    
  


    <div class="col">
       
    

      {% for i in product_variant_data %}
 
      

          {% if i.product.title == p.title %}

          {{i.product_variant_one}} / {{i.product_variant_two}} / {{i.product_variant_three}} <br>

          {% else %}
          
          {% endif %}


      
      
      
      {% endfor %}
 



        {% comment %} <p> {{ product.product_variant_one }}  / {{ product.product_variant_one }} / {{ product.product_variant_one }}    </p> {% endcomment %}
      
    </div>

    <div class="col">


      
      {% for i in product_variant_data %}
 
      

      {% if i.product.title == p.title %}


      Price : {{i.price}} <br>
      
      {% endif %}
      
      
      
      {% endfor %}
       
      
    </div>

    <div class="col">


      {% for i in product_variant_data %}
 
      

      {% if i.product.title == p.title %}

      
      {% if  i.stock > 0 %}

      <p> InStock: {{ i.stock }} </p> 

      {% else %}

      <p> Out Of Stock </p>

      
      {% endif %}


         


      
      {% endif %}
      
      
      
      {% endfor %}


            
      
    </div>

    <div class="col">
        <button type="button" class="btn btn-success">Edit</button>        
      
    </div>



  </div>


  {% endfor %}


</div>



{% comment %} <nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if page_obj.has_previous %}

        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>

        {% endif %}


        
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}"> {{page_obj.number}} </a></li>

        {% if page_obj.has_next %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>

    
        {% endif %}
     
     
      
      
    </ul>
  </nav> {% endcomment %}





<div class='mx-auto' style= "width: 200px;" >
 {% if page_obj.has_other_pages %}
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
</nav>

{% endif %} 


</div>

<div class='mx-auto' style= "width: 500px;" >

    <h2>Showing<h2>

        {% for p in page_obj %}
        
         {{ p.pk }} to
        
        {% endfor %}

        Out Of  {{ number_of_products }}
    
</div> 










</body>
</html>




{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Home
        {% endblock %}-Mediusware
    </title>
    <!-- Custom fonts for this template-->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css\main.css' %}">
</head>
<body class="bg-gradient-primary">
    <h1> Product List </h1> 



{% comment %} <form>
    <label for="title">Product Title:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="variant">Variant</label><br>
    <input type="text" id="variant" name="variant">

    

    
    </div>


</form> {% endcomment %}








{% comment %} {{ number_of_products }}  {% endcomment %}
{% comment %} {% for product in product_data %}

{{ product.title }} <hr>

{% endfor %} {% endcomment %}

{% comment %} {% for variants in variant_data %}

{{ variants.variant_title }} 

{% endfor %} {% endcomment %}

{% comment %} 
 {% for variant in variants %} #variant variantpricetable

 <div>

    {{ forloop.counter }} || {{ variant.product.title }}
    || {{ variant.product.sku }}  || {{ variant.product.description }} 
    || {{ variant.product_variant_one }}/{{ variant.product_variant_two }}/{{ variant.product_variant_three }} ||
    {{ variant.price }} || stock: {{variant.stock }}
    <br> <hr>
    <hr>


</div> 
{% endfor %}   {% endcomment %}


{% comment %} 

</body>
</html> {% endcomment %}




